[tool.poetry]
name = "apis-acdhch-default-settings"
version = "0.1.17"
description = "Default settings for APIS instances at the ACDH-CH"
authors = ["Birger Schacht <birger.schacht@oeaw.ac.at>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
sentry-sdk = "^1.26.0"
dj-database-url = "^2.0.0"
django-allow-cidr = "^0.6.0"
django-csp = "^3.7"
whitenoise = "^5.2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
