{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    {{ block.super }}
    <meta name="monitoring" content="Icinga Check">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="https://shared.acdh.oeaw.ac.at/favicon/apple-touch-icon.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="https://shared.acdh.oeaw.ac.at/favicon/favicon-32x32.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="https://shared.acdh.oeaw.ac.at/favicon/favicon-16x16.png" />
    <link rel="mask-icon"
          href="https://shared.acdh.oeaw.ac.at/favicon/safari-pinned-tab.svg"
          color="#00aba9" />
{% endblock meta %}
